<h1 class = "h1">Listing categories</h1>
 <table class="table table-hover">
  <tr>
    <th>Name</th>
    <th>Short name</th>
    <th>Description</th>
    <th>Actions</th>
  </tr>
<% @categories.each do |category| %>

 <tr>
    <td><%= category.name %></td>
    <td><%= category.short_name %></td>
    <td><%= category.description %></td>
    <td>
        <%= link_to 'View', category, :class => 'badge', :title => " View Posts" %>
        <%= link_to 'Edit', edit_category_path(category), :class => 'badge', :title => "Edit Category" %>
        <%= link_to 'Delete', category,:class => 'badge', method: :delete, data: { confirm: 'Are you sure?' }, :title=> "Destroy Category"%></td>
 </tr>
<% end %>
</table>

<br />

<%= link_to 'New Category', new_category_path, :class => "btn btn-primary" %>
